## original scripts from kaldi
s5/local
s5/steps
s5/utils
s5/conf
s5/run.sh
## csj data, mfcc and experiemnts
s5/data
s5/exp
s5/mfcc
s5/csj_data
s5/csj_exp
s5/csj_mfcc
## jnas data, mfcc and experiemnts
s5/jnas_data
s5/jnas_exp
s5/jnas_mfcc
## RESULTS files
#RESULTS_marta
#RESULTS_marta2
RESULTS_jnas
RESULTS_jnas_old
RESULTS
## log output files
*.tmp
*.out
*.log

